/build/
/.ida-sdk-reference/
/demo/pseudocode_xrefs_demo.exe
/demo/pseudocode_xrefs_demo.pdb
/demo/pseudocode_xrefs_demo.map
/tools/check_plugin.log
/tools/check_plugin.txt
/tools/check_vtable_rewrite.log
/tools/check_vtable_rewrite.txt
/tools/check_vtable_jump.log
/tools/check_vtable_jump.txt
/tools/check_j_action.log
/tools/check_j_action.txt
/tools/check_input_events.log
/tools/check_input_events.txt
/tools/probe_input_widget.log
/tools/probe_input_widget.txt
/tools/complex_demo_create.log
/tools/setup_complex_demo.log
/tools/setup_complex_demo.txt
/tools/check_named_vtable.log
/tools/check_named_vtable.txt
/tools/check_rename_vtable.log
/tools/check_rename_vtable.txt
/demo/pseudocode_xrefs_rename_test.i64
/.ida-user-test/
